.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgb(222, 47, 47) 0%, rgb(124, 219, 98) );
}

.form-text {
    color:white;
}