<!-- <p>child works!</p>
<button (click)="childMsg()">clik me</button> -->

<div class="bg-container">
    <p style="text-align:center ; ">Child Component</p>
    <button class="m-3 btn-pink" (click)="clickPink()">PINK</button>
    <button class="m-3 btn-green" (click)="clickGreen()">GREEN</button>
    <button class="m-3 btn-black" (click)="clickBlack()">BLACK</button>
    <button class="m-3 btn-red" (click)="clickRed()">RED</button>
    <div>
      <!-- <p class="">Add to cart{{count}}</p>
  
      <button class="btn btn-secondary m-3" (click)="onClick('+')">+</button>
      <button class="btn btn-danger m-3" (click)="onClick('-')">-</button> -->
    </div>
  
  </div>