<h1>Country page</h1>
<h2>{{errMsg}} </h2>
<h1>{{msg}} - User</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let x of countries">
            <tr>
                <td class="name">{{x.name}} </td>
                <td>{{x.region}} </td>
                <td> <img src= {{x.flags.png}}  alt=""> </td>
                <button *ngIf="isActive">Edit Item</button>
                <button *ngIf="isActivate">Delete Item</button>
            </tr>
        </ng-container>
    </tbody>
</table>